<div id="footer">
    <ul class="info">
        <li>Contact us</li>
        <li>Phone number:07100200200</li>
        <li>E-mail:dcc@gmail.com</li>
        <li><a href="https://web.facebook.com/pages/category/Religious-Center/Disciples-of-Christ-Church-Kinoo-179552768756944/?_rdc=1&_rdr"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHleD4G5BNh-F1BGZ_gJZs3on8dUPMQQOHEw&usqp=CAU" width="25px"></a>
            <a href="https://www.youtube.com/channel/UC2h__VHzV_MCs-sbOPimk7w"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWdKdfvicEByerDDRIG6laWiIfuF4iujtRFw&usqp=CAU" width="25px"></a>
        </li>
    </ul>
 </div>