<div>
    <div class="fb">
    <header><a href="https://web.facebook.com/pages/category/Religious-Center/Disciples-of-Christ-Church-Kinoo-179552768756944/?_rdc=1&_rdr"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHleD4G5BNh-F1BGZ_gJZs3on8dUPMQQOHEw&usqp=CAU" width="25px"></a>
     <a href="https://www.youtube.com/channel/UC2h__VHzV_MCs-sbOPimk7w"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWdKdfvicEByerDDRIG6laWiIfuF4iujtRFw&usqp=CAU" width="25px"></a>
 </header>
    </div>
    <div class="bar" ng-controller="MenuController">
  <nav>
     <a href="#/!"><img class="img" src="pics\dccc-modified.png" style="border-radius:10px ; padding: .3rem;" alt="logo"></a>
     <ul>
        <input type="checkbox" id="checkbox_toggle" />
     <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <div class="menu">
         <li class="list"><a href="#/!">Home</a></li>
         <li>
             <label for="btn3" class="show">Find us</label>
             <a href="">Find us</a>
             <input type="checkbox" id="btn3">
         <ul>
             <li style="background-color: #020145;border-radius: 10px;"><a href="https://www.youtube.com/channel/UC2h__VHzV_MCs-sbOPimk7w" target="blank">youtube</a></li>
             <li style="background-color: #020145;border-radius: 10px;"><a href="https://web.facebook.com/pages/category/Religious-Center/Disciples-of-Christ-Church-Kinoo-179552768756944/?_rdc=1&_rdr" target="blank">facebook</a></li>
             <li style="background-color: #020145;border-radius: 10px;"><a href=https://www.google.com/maps/d/edit?mid=1b_vBcPWv-64yx6LF6gaz_oZLlH8KpUY&usp=sharing" target="blank">location</a></li>
         </ul></li>
         <li>
             <label for="btn1" class="show">Fellowships</label>
             <a href="#!fellowships">Fellowships</a>
             <input type="checkbox" id="btn1">
        </li>
         <li>
             <label for="btn2" class="show">About us</label>
             <a href="#!about-us">About us</a>
             <input type="checkbox" id="btn2">
         <!-- <ul>
             <li><a href="who.html">Who we are</a></li>
             <li><a href="statement.html">Statement of faith</a></li>
             <li><a href="leadership.html">Leadership</a></li>
         </ul> -->
     </li>
    </div>
         <!-- <li><a href="blog.html">blog</a></li> -->
     </ul>
      </nav>
     </div>